@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>About Our Team</h2>
<p>TechXii was started by Iris Hicks, a singer and song-writer by day and computer programmer by night TechXiicomprised of a team of indivuals that come together to bring an unforgetably unique experience to any and all who come in contact with us. We committed to connecting our clients with vehicles with speed and feel of an amazing car, but not forfitting excellent taste. TechXii merges the two creating a unique experience for both prospective owners and for our team, as we are whole-heartedly committed to helping you find the right fit for you and your family.</p>
<p>TechXii began when its founder saw a need to pair individuals who were seeking top quality vehicles with those who poseessed the experience and knowledge of the vehicle. As a recent owner herself of a high performing luxury vehicle herself, she could not have understood better how much of a need there was to create a connection where there was a disconnect. Hicks had no one her life that could her along with such tasks. Those of her family and friends that lived in her city had only very little knowledge of cars and she found the process daunting at times. All she wanted was highly performing vehicle that was spacious and welcoming to her and any company she had along for the ride. In finding this process a challange at times, Hicks set off on her own to find a solution to her problem, and out of this search was born TechXii.</p>
<h2>About The Name</h2>
<p>So many people have asked us- Where in the world does the name TechXii come from? The developer and founder was trying to come up with a name for idea and she just kept coming back to this thought- I want people to be exciting about sexy vehicles that also excellent high-performing techinical abilities. At first she thought of TeXii, but then decided to go with TechXii and after that, the name stuck!</p>