@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="background">
    <div class="transbox">
        <p>This is some text that is placed in the transparent box.</p>
    </div>
</div>
<address>
    TechXii<br />
    Redmond, WA 77777-7777<br />
    <abbr title="Phone">P:</abbr>
    777.575.7777
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>