@{
    ViewBag.Title = "Home Page";
}
 <div class="background">
    <div class="transbox">
        <h1>TechXii Where Tech and Sexy Meet</h1>
        </div>
</div>
<div style="background:transparent !important" class="jumbotron">
    <p class="lead">TechXii is a vehicle review website that provides prospective buyers with the experience having a car through the first impressions and evolving impressions of owners of our hand sleected favorite luxurious performance vehicles!</p>
    <p><a href="https://github.com/WeCanCodeIT/WCCI-PartTime-Winter-Cle/tree/master/week10/assignments" class="btn btn-primary btn-lg">Dig Deeper &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Let's Begin </h2>
        <p>
            TechXii provides you with the latest exclusive reviews from our customers to help you and your family make the best decision for your next stunning high performance vehicle. 
        </p>
        <p><a class="btn btn-default" href="https://github.com/WeCanCodeIT/WCCI-PartTime-Winter-Cle/tree/master/week10/assignments">Dig Deeper &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2> More About Us</h2>
        <p>What make TechXii so unique? How do our customer reviews impact our new customers as well as us here at TechXii?</p>
         <p><a class="btn btn-default" href="https://github.com/WeCanCodeIT/WCCI-PartTime-Winter-Cle/tree/master/week10/assignments">Dig Deeper &raquo;</a></p>
     </div>

    <div class="col-md-4">
        <h2>Living the Life</h2>
        <p>What makes our vehicles stand out, ranking the best vehicles that our customers have ever owned?</p>
        <p><a class="btn btn-default" href="https://github.com/WeCanCodeIT/WCCI-PartTime-Winter-Cle/tree/master/week10/assignments">Dig Deeper &raquo;</a></p>
    </div>
</div>
 